/*

[Default] Zielony Gradient: #134E5E => #71B280
(Ciemny => Jasny)

[R-] Czerwony Gradient: #1F1C18 => #8E0E00
(Ciemny => Jasny)

[B-] Niebieski Gradient: #373B44 => #4286f4
(Ciemny => Jasny)

https://mdigi.tools/color-shades/
https://mdigi.tools/color-shades/#71b280

2 pierwsze: 5. i 4. od prawej z 15
2 ostatnie: 5. i 4. od lewej z 15

*/

.color{
    background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

body{
    letter-spacing: 1px;
}

h1{
    padding-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
/*    font-size: 16px; */
}

.try-again{
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.try-again:after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.try-again:hover:after{
    left: 40%;
    right: 40%;
}

.wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 0px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}

.button-text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #134E5E, #71B280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-circle{
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px #134E5E, 0 0 20px #134E5E, 0 0 30px #134E5E;
    transition: all 0.5s ease;
}

.button-circle2{
    top: auto;
    bottom: 0;
}

.button-circle3{
    left: auto;
    right: 0;
    box-shadow: 0 0 10px #71B280, 0 0 20px #71B280, 0 0 30px #71B280;
}

.button-circle4{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px #71B280, 0 0 20px #71B280, 0 0 30px #71B280;
}

.button:hover{
    box-shadow: -15px 0 70px -15px #134E5E, 15px 0 70px -15px #71B280;
}

.button:hover .button-circle1{
    transform: translate(-15px, -15px) scale(0);
}

.button:hover .button-circle2{
    transform: translate(-15px, 15px) scale(0);
}

.button:hover .button-circle3{
    transform: translate(15px, -15px) scale(0);
}

.button:hover .button-circle4{
    transform: translate(15px, 15px) scale(0);
}

.button:hover .button-circle{
    box-shadow: none;
}

.popup{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease
}

.popup-inside{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition:
            box-shadow 0.5s ease 0.7s,
            border-radius 0.35s ease 0.7s;
}

.backgrounds{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #134E5E, #71B280);
    transform: scale(0);
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}

.background2{
    --offset: 10%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #1a6a7f, #366340);
    transform: scale(0);
    transition: all 0.5s ease 0.1s;
}

.background3{
    --offset: 20%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #1f819c, #42794f);
    z-index: 2;
    transition: all 0.5s ease 0.2s;
}

.background4{
    --offset: 30%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #80d0e5, #9cc9a6);
    z-index: 3;
    transition: all 0.5s ease 0.3s;
}

.background5{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #9cdaeb, #b2d5ba);
    z-index: 4;
    transition: all 0.5s ease 0.4s;
}

.background6{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: white;
    z-index: 5;
    transition: all 0.8s ease 0.4s;
}

.content{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    z-index: 10;
}

.content-wrapper{
    text-align: center;
}

body.active .content{
    opacity: 1;
    transform: none;
}

body.active .popup{
    opacity: 1;
    visibility: visible;
}

body.active .popup-inside{
    border-radius: 0;
    box-shadow: -50px 0 200px -50px #134E5E, 50px 0 200px -50px #71B280;
}

body.active .background{
    transform: scale(1);
}

body.active .background6{
    transform: scale(8);
}

.closebutton{
    cursor: pointer;
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}

.closebtn{
    position:absolute;
    left:45%;
    bottom:25px;
}