/*

[Default] Zielony Gradient: #134E5E => #71B280
(Ciemny => Jasny)

[R-] Czerwony Gradient: #1F1C18 => #8E0E00
(Ciemny => Jasny)

[B-] Niebieski Gradient: #373B44 => #4286f4
(Ciemny => Jasny)

https://mdigi.tools/color-shades/
https://mdigi.tools/color-shades/#71b280

2 pierwsze: 5. i 4. od prawej z 15
2 ostatnie: 5. i 4. od lewej z 15

*/

.Bcolor{
    background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

.Btry-again{
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.Btry-again:after{
    content: '';
    position: absolute;
    left: 130px;
    right: 130px;
    height: 1px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.Btry-again:hover:after{
    left: 40%;
    right: 40%;
}

.Bwrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bbutton{
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 60px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 0px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}

.Bbutton-text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #373B44, #4286f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Bbutton-circle{
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px #373B44, 0 0 20px #373B44, 0 0 30px #373B44;
    transition: all 0.5s ease;
}

.Bbutton-circle2{
    top: auto;
    bottom: 0;
}

.Bbutton-circle3{
    left: auto;
    right: 0;
    box-shadow: 0 0 10px #4286f4, 0 0 20px #4286f4, 0 0 30px #4286f4;
}

.Bbutton-circle4{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px #4286f4, 0 0 20px #4286f4, 0 0 30px #4286f4;
}

.Bbutton:hover{
    box-shadow: -15px 0 70px -15px #373B44, 15px 0 70px -15px #4286f4;
}

.Bbutton:hover .Bbutton-circle1{
    transform: translate(-15px, -15px) scale(0);
}

.Bbutton:hover .Bbutton-circle2{
    transform: translate(-15px, 15px) scale(0);
}

.Bbutton:hover .Bbutton-circle3{
    transform: translate(15px, -15px) scale(0);
}

.Bbutton:hover .Bbutton-circle4{
    transform: translate(15px, 15px) scale(0);
}

.Bbutton:hover .Bbutton-circle{
    box-shadow: none;
}

.Bpopup{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease
}

.Bpopup-inside{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition:
            box-shadow 0.5s ease 0.7s,
            border-radius 0.35s ease 0.7s;
}

.Bbackgrounds{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Bbackground{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #373B44, #4286f4);
    transform: scale(0);
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}

.Bbackground2{
    --offset: 10%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #444955, #083c91);
    transform: scale(0);
    transition: all 0.5s ease 0.1s;
}

.Bbackground3{
    --offset: 20%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #545a67, #0a4ab1);
    z-index: 2;
    transition: all 0.5s ease 0.2s;
}

.Bbackground4{
    --offset: 30%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #aaafbb, #6ea2f7);
    z-index: 3;
    transition: all 0.5s ease 0.3s;
}

.Bbackground5{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #bdc1ca, #8fb7f8);
    z-index: 4;
    transition: all 0.5s ease 0.4s;
}

.Bbackground6{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: white;
    z-index: 5;
    transition: all 0.8s ease 0.4s;
}

.Bcontent{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    z-index: 10;
}

.Bcontent-wrapper{
    text-align: center;
}

body.Bactive .Bcontent{
    opacity: 1;
    transform: none;
}

body.Bactive .Bpopup{
    opacity: 1;
    visibility: visible;
}

body.Bactive .Bpopup-inside{
    border-radius: 0;
    box-shadow: -50px 0 200px -50px #373B44, 50px 0 200px -50px #4286f4;
}

body.Bactive .Bbackground{
    transform: scale(1);
}

body.Bactive .Bbackground6{
    transform: scale(8);
}